<div class="mt-4">
	<div class="row">
		<div class="col-lg-3">
			<button>Learn Now</button>
		</div>

		<div class="col-lg-9">
			<img src="../{{shoe.image}}" alt="" width="100px" height="100px">
			<h2>{{shoe.name}}</h2>
			<p>{{shoe.description}}</p>
			<p>{{shoe.price}}</p>
		</div>
	</div>
</div>